* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

body {
  animation: cambioColorFondo 10s infinite alternate;
}

@keyframes cambioColorFondo {
  0% {
    background: #ffffff;
  }

  40% {
    background: #af16af5e;
  }

  70% {
    background: #0d5cc44b;
  }

  100% {
    background: #c40d0d4b;
  }
}

.container {
  width: 1000px;
  margin: 0 auto;
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}


@media(width<1000px) {
  .container {
    width: 100%;
  }
}